/*!
Theme Name: mjdev child
Template: mjdev
Author: MJFONTES
Description: MJ Fontes Senior Digital Designer
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: mjdev
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

mjdev is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/**
 * Loading first in the style.scss & classic-editor.scss
 */
/**
* Document basic styling
* Inspired by Normalize.css, HTML5 Boilerplate & Bootstrap Reboot Projects under MIT License
 */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
 */
body, html{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	overflow-x: hidden;
	background-color:#E3E3E3;

}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.footer{
	background-color:#ccc;
	bottom:0px;
	margin-bottom:0;
	padding-bottom:0px;
}


/* Mobile Menu edit the hamburger and close icon colors here */


.lytbox-button {

--hamburger-color: #fff;

--close-x-color: #fff;

display: block;

height: 18px;

cursor: pointer;

position: relative;

z-index: 101;

}



/* must add in elementor template ID number to make the menu full width */

.elementor-809 {

width: 100%;

}



/* end editing */


.lytbox-navigation {

position: fixed;

top: 0;

left: 0;

transform: translateX(100%);

overflow: hidden;

transition: transform 0.2s;

width: 100%;

height: 100vh;

z-index: 100;

}


.lytbox-navigation {

display: flex;

justify-content: center;

align-items: center;

}





/* toggle hamburger*/


.lytbox-button .hamburguer {

position: relative;

}


.lytbox-button .hamburguer span{

display: block;

height: 2px;

width: 24px;

background: var(--hamburger-color);

transform-origin: 50% 50%;

transition: all 0.1s 0.2s ease, transform 0.2s ease;

}


.lytbox-button .hamburguer span:nth-child(2) {

transform: translate(0, 6px);

}


.lytbox-button .hamburguer span:nth-child(3) {

transform: translate(0, 12px);

 

}


.lytbox-nav_control {

position: absolute;

left: -9999px;

width: 100%;

clip: rect(0, 0, 0, 0);

}


.lytbox-nav_control:checked~.lytbox-navigation {

transform: translateX(0);

opacity: 1;

transition: transform 0.3s, opacity 0.3s;

}


.lytbox-nav_control:checked~.lytbox-button .hamburguer {

transition: all 0.1s 0s ease;

}






/* closed X */


.lytbox-nav_control:checked~.lytbox-button .hamburguer span {

background: var(--close-x-color);

transition: all 0.1s ease, transform 0.1s 0.2s ease;

}


.lytbox-nav_control:checked~.lytbox-button .hamburguer span:first-child {

opacity: 0;

}


.lytbox-nav_control:checked~.lytbox-button  .hamburguer span:nth-child(2) {

transform: translate(0, 6px) rotate(45deg);

}


.lytbox-nav_control:checked~.lytbox-button .hamburguer span:nth-child(3) {

transform: translate(0, 4px) rotate(-45deg);


}
/*caixas do inicio*/
.caixas{
    height: auto;

}
@media only screen and (max-width: 600px) {
	.caixas{
		height:100vw;
	}


}
/*icon da timeline*/
.elementor-widget.elementor-widget-timeline-widget-addon .twae-wrapper .twae-icon,.elementor-widget.elementor-widget-twae-post-timeline-widget .twae-wrapper .twae-icon {
    background-color: var(--tw-ibx-bg);
    DISPLAY: none;
}

/*botão*/
.elementor-element.elementor-button-success .elementor-button {
    background-color: #467B26;
}
.twae-horizontal-timeline.twae-wrapper .twae-content {
    border: none;
    height: 100%
}
.twae-arrow{
	display:none
}

/*seta da linha timeline*/
.twae-horizontal-timeline.twae-wrapper .twae-button-next,.twae-horizontal-timeline.twae-wrapper .twae-button-prev {
    position: absolute;
    top: calc(0px + var(--tw-lbl-big-size) + var(--tw-lbl-small-size) + var(--tw-lbl-gap) + 20px + var(--tw-ibx-size) - var(--nav-icon-height) * .5);
    background: var(--nav-icon-background);
    color:
    width: var(--nav-icon-width);
    height: var(--nav-icon-height);
    font-size: calc(var(--nav-icon-height) - 4px);
    line-height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    cursor: pointer
}
/*video*/
.elementor .elementor-background-video-container {
    pointer-events: none;
    transition: opacity 0s;
}

.caixas_servicos{
	height:35rem;
	padding-bottom:22px;
	margin-bottom:22px;
	
}

.elementor-image-box-content {
    padding: 12px;
}
/* retira gap no fim da página*/
.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding-bottom: 0px;
}

/*border do video de background*/
.elementor embed, .elementor iframe, .elementor object, .elementor video{
	border-radius:14px;
}
